.navbar {
    font-weight: 500;
    color: green;
    background-color: rgba(0, 128, 0, 0.274);
    height: 50px;
    margin: 0;

    ul {
        display: flex;
        gap: 20px;
        list-style: none;
        justify-content: center;
        padding-top: 10px;
        a{
            text-decoration: none;
        }
    }
}